<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>


<%= content_for(:maincontent) do%>


    <% @user.errors.full_messages.each do |message| %>
          <%= message %>
    <% end %>


    <p>user edit</p>
    <%= render 'form', user: @user %>


<%end%>
