<h1>Users#cansel</h1>
<p>Find me in app/views/users/mypage.html.erb</p>


<%= content_for(:maincontent) do%>

    <h2>canseled!!!!</h2>
    <%= link_to("mypage","/users/#{@current_pub_user.id}/mypage")%>

<%end%>


