<div class="row  pt-4 mx-auto">
  <%if index.content != nil%>
    <div class="col-md-2">
      <%= image_tag "no_image.png", class:"img-fluid", size:"110x110", align:"right"%>
    </div>
  <%end%>
  <div class="col-md-8">
    <%if index.content != nil%>
        <div class="popover right show" style="position:relative; top=-90px; left=100px; max-width:100%; display:inline;">
          <div class="arrow"></div>
      <%if index.speaker_id%>
        <%@speaker = Utinaantyu.find(index.speaker_id)%>
          <h3 class="popover-title"><%=link_to @speaker.name, "/utinaantyus/#{@speaker.id}"%>さん</h3>
      <%elsif index.speaker_id == nil && index.content != nil%>
          <h3 class="popover-title">ゲストさん</h3>
      <%end%>
      <div class="popover-content">
        <p class=""><%= index.content %></p>
        <p class="text-right pr-3"><%=time_ago_in_words(index.created_at) + "前"%></p>
      </div>
    </div>
  <%end%>
    </div>
</div>
