<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <%if index.speaker_id%>
      <%@speaker = Utinaantyu.find(index.speaker_id)%>
      <%=link_to @speaker.name, "/utinaantyus/#{@speaker.id}"%>さん
    <%elsif index.speaker_id == nil && index.content != nil%>
      ゲストさん
    <%end%>
    <%= index.speaker_id %>
    <%= index.content %>
  </div>
</div>
