<h1>personalInfo#editProf</h1>
<p>Find me in app/views/personal_info/editProf.html.erb</p>
<%= button_to "homeへ", {:controller => 'home', :action => 'index'}, :method => :get %>
<%= button_to "MyPageへ", {:controller => 'personal_info', :action => 'mypage'}, :method => :get %>
