<h1>PersonalInfo#input</h1>
<p>Find me in app/views/personal_info/input.html.erb</p>
<%= button_to "homeへ戻る", {:controller => 'home', :action => 'index'}, :method => :get %>
<%= button_to "登録完了確認", {:controller => 'personal_info', :action => 'regiComp'}, :method => :get %>
