
  <%= content_for(:maincontent) do%>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <div class="alert alert-info" role="alert">
          <h2>プランを探す</h2>
          <p class="text-dark">あなた様が気になる<strong>カテゴリ</strong>をクリックして、<strong>お気に入りのプラン</strong>を見つけましょう。<br>ここに表示されているカテゴリ以外にも様々なカテゴリのプランをご用意しております。</p>
          <p class="text-dark"><a class="btn btn-warning" href="#" role="button">観光名所 &raquo;</a>
          <br>沖縄には歴史的な建造物や、風情ある観光名所がたくさんあります。<br>是非一度訪れてみてはいかがでしょうか？</p>
          <p class="text-dark"><a class="btn btn-warning" href="#" role="button">自然 &raquo;</a>
          <br>綺麗な海や車で行ける小さな離島など、沖縄は豊かな自然で溢れています。<br>リフレッシュをしたい方にオススメのプランをご用意しております。</p>
          <p class="text-dark"><a class="btn btn-warning" href="#" role="button">グルメ &raquo;</a>
          <br>現地のコンシェルジュたちがオススメする<br>様々な沖縄料理を楽しめるプランを多数ご用意しております。</p>
        </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
          <h2>プランを作る</h2>
          <p class="text-dark">プランを考えて<strong>沖縄の魅力</strong>を伝えてみませんか？</p>
          <p><a class="btn btn-secondary" href="#" role="button">プラン登録 &raquo;</a></p>
        </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
          <h2>FAQ</h2>
          <p class="text-dark">あなた様が抱いている<strong>疑問</strong>を解消することができるかもしれません。</p>
          <p><a class="btn btn-secondary" href="#" role="button">よくあるご質問 &raquo;</a></p>
        </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-danger" role="alert">
          <h2>お問い合わせ</h2>
          <form>
            <div class="form-group">
                <label for="name">お名前:</label>
                <input type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">お問い合わせ内容:</label>
                <textarea id="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="selection">うちなーんちゅですか？旅行者ですか？:</label>
                <select id="selection" class="form-control">
                  <option>うちなーんちゅ
                  <option>旅行者
                </select>
            </div>
            <input type="button" class="btn btn-primary" value="送信">
         </form>
        </div>
        </div>
      </div>
      <hr>
		<%end%>

